/*
Theme Name: Flatsome
Theme URI: http://flatsome.uxthemes.com/
Author: UX-Themes
Author URI: http://www.uxthemes.com/
Description: Multi-Purpose Responsive WooCommerce Theme
Version: 3.3.9
Text Domain: flatsome
License: http://themeforest.net/licenses
License URI: http://themeforest.net/licenses
*/

/***************
All custom CSS should be added to Flatsome > Advanced > Custom CSS,
or in the style.css of a Child Theme.
***************/
.vi-header {
	border-bottom: solid 1px #00733c
}

.vi-left-title {
	width:      auto;
	background: #00733c;
	color:      #fff;
	padding:    3px 10px;
	font-size:  18px;
	position:   relative;
	margin:     0;
	line-height: 1.6; 
}

.vi-left-title a {
	color: #fff
}

.vi-left-title a:hover {
	color: #FFEBA4
}

.vi-left-title:after {
	border:              17px solid transparent;
	border-left-color:   #00733c;
	border-bottom-color: #00733c;
	position:            absolute;
	top:                 0;
	left:                100%;
	content:             ""
}

.vi-right-link a {
	color:       #555;
	font-size:   14px;
	margin-left: 15px
}

.vi-right-link a:first-child {
	margin-left: 0
}

.vi-right-link a.vi-more, .vi-right-link a:hover {
	color:  #fff;
	margin: 0;
	border: 0;
}

.vi-right-link a.vi-more:after {
	content:     "\f101";
	font-family: FontAwesome;
	margin-left: 4px
}

.badge-container {
	margin: 0;
}

span.sale-text {
	display: block;
}

.badge-inner {
	line-height: 1;
}

.badge-inner span {
	font-size: 14px;
}
@media screen and (min-width: 991px) {
	.home .news-home .large-columns-4 {
		display: block;
	}

	.home .news-home .large-columns-4 > div {
		width:          50%;
		max-width:      50%;
		display:        block;
		flex-basis:     50%;
		float:          left;
		padding-bottom: 15px;
	}

	.home .news-home .large-columns-4 > div:first-child .post-title {
		font-size: 26px;
	}

	.home .news-home .large-columns-4 > div + div .box-image {
		width: 50%;
		float: left;
	}

	.home .news-home .large-columns-4 > div + div .box-text .from_the_blog_excerpt {
		overflow:           hidden;
		text-overflow:      ellipsis;
		display:            -webkit-box;
		max-height:         68px; /* fallback */
		-webkit-line-clamp: 3; /* number of lines to show */
		-webkit-box-orient: vertical;
	}

	.home .news-home .large-columns-4 > div + div .box-text {
		padding-left:  15px;
		padding-right: 15px;
		overflow:      hidden;
		width:         auto;
		text-align:    left;
		padding-top:   0;
	}
}


.product-summary .quantity {
	display: none !important;
}

.single_add_to_cart_button {
	display: block;
	width:   100%;
}

.woocommerce-variation.single_variation,
table.variations,
.woocommerce-variation-price {
	/*display: none;*/
}

#menu-product-sidebar li.current-menu-parent > ul.sub-menu {
	display: block !important;
}

#menu-product-sidebar li > .active > .toggle {
	-webkit-transform: rotate(-180deg);
	-ms-transform:     rotate(-180deg);
	transform:         rotate(-180deg);
}

.footer-wrapper .widget li {
	list-style: inherit;
}

.footer-wrapper .social-icons a {
	margin-bottom: 0;
}

.footer-secondary {
	padding: 0;
}

.open-popup-checkout.button {
	display:    block;
	width:      100%;
	background: #00733c;
}

.widget_product_categories ul li i {
	padding: 10px;
	cursor:  pointer;
}

.woocommerce-billing-fields p {
	margin-bottom: 0;
}

.product-small.col > div {
	transition: box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s;
	transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s;
	transition: transform .3s, box-shadow .3s, background-color .3s, color .3s, opacity .3s, -webkit-transform .3s;
}

.product-small.col > div:hover {
	border-color: transparent;
	box-shadow:   0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.product-small.col > div {
	border: solid 1px #ddd;
	height: 100%;
}

.input-group {
	position:      relative;
	display:       table;
	margin-bottom: 25px;
	float:         left;
}

.input-group-addon {
	border-radius:    0px;
	background-color: #446084;
	border:           none;
	position:         relative;
	padding:          6px 12px;
	font-size:        14px;
	font-weight:      400;
	line-height:      1;
	color:            #555;
	text-align:       center;
	width:            1%;
	white-space:      nowrap;
	vertical-align:   middle;
	display:          table-cell;
}

.input-group-addon i {
	color:     #FDFEFF;
	font-size: 26px;
	width:     24px;
	height:    24px;
}

.input-group input[type='text'],
.input-group input[type='email'] {
	background-color:      rgb(225, 228, 230);
	border-radius:         0;
	-moz-border-radius:    0;
	-webkit-border-radius: 0;
	border:                none;
	padding:               15px 15px;
	color:                 #444;
	font-size:             14px;
	min-height:            50px;
	box-shadow:            none;
	-webkit-box-shadow:    none;
	margin-bottom:         0;
}

.input-group textarea {
	background-color:      rgb(225, 228, 230);
	border-radius:         0;
	-moz-border-radius:    0;
	-webkit-border-radius: 0;
	border:                none;
	padding:               15px 15px;
	color:                 #444;
	font-size:             14px;
	min-height:            155px;
	box-shadow:            none;
	-webkit-box-shadow:    none;
	margin-bottom:         0;
}

.contact-form p {
	margin-bottom: 20px;
}

.wpcf7 .wpcf7-not-valid-tip {
	margin-top:       0;
	padding:          2px 15px;
	border-radius:    0 0 4px 4px;
	opacity:          1;
	background-color: #f00;
	color:            #ffffff;
	position:         absolute;
	top:              100%;
	font-size:        14px;
	display:          block;
}

.wpcf7 .wpcf7-not-valid-tip:after {
	border-bottom-color: #ff0000;
	border-width:        6px;
	margin-left:         -11px;
}

li.payment_method_alepay #custom_input {
	padding-left: 20px;
}

.widget_product_categories h3.widget-title {
	background:    #00733c;
	color:         #fff;
	padding:       5px 12px;
	margin-bottom: 0px;
}

.widget_product_categories .is-divider.small {
	display: none;
}

.widget_product_categories > ul {
	border:     solid 1px #ddd;
	padding:    1px 8px;
	border-top: none;
}

ul.menu > li ul, .widget > ul > li ul {
	border-left: 0;
}

.widget .current-cat > a {
	color:       #f00;
	font-weight: bolder;
}

.widget_product_categories > ul > li a:hover {
	color: #f00;
}

.header-wrapper .header-main {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

}

.header-wrapper.stuck .header-main {
	box-shadow: none;
}

.call-to-action {
	background-color: #951e20;
	display:          table;
	width:            100%;
	text-align:       center;
	color:            #fff;
	position:         fixed;
	left:             0;
	right:            0;
	bottom:           0;
	z-index:          999999;
	display:          none;
}

.call-to-action > div {
	display: table-cell;
	width:   50%;
}

.call-to-action .phone {
	border-right: 1px solid #fff;
}

.call-to-action .phone i {
	padding-right: 5px;
}

.call-to-action a {
	display:     block;
	color:       #fff;
	padding:     15px 0;
	line-height: 1.5;
	border:      0;
	font-size:   14px;
	font-weight: 400;
}

.call-to-action a:hover,
.call-to-action a:active {
	box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.call-to-action .call-modal a {
	background: transparent;
	margin:     0;
}

@media screen and (max-width: 767px) {
	.call-to-action {
		display: table;
	}

	.footer-wrapper {
		padding-bottom: 50px;
	}
}

#mega-menu-wrap {
	width:      100%;
	background: #e3411f;
	position:   relative
}

#mega-menu-title {
	padding:     10px 0 10px 15px;
	font-size:   15px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	color:       #fff;
	cursor:      pointer
}

#mega-menu-title i {
	margin-right: 9px
}

#mega_menu {
	position:   absolute;
	top:        100%;
	left:       0;
	width:      100%;
	border:     1px solid #ddd;
	padding:    10px 0 0;
	background: #fff;
	display:    none
}

#mega_menu > li {
	position: relative;
	z-index:  8
}

#mega_menu > li > a > span.icon {
	width:         27px;
	display:       inline-block;
	position:      relative;
	top:           -2px;
	margin-bottom: -2px;
	margin-left:   -5px
}

#mega_menu > li > a img {
	max-height: 25px;
	max-width:  100%
}

#mega_menu li a {
	padding:     7px 15px;
	display:     block;
	font-size:   15px;
	font-weight: bold
}

#mega_menu ul.sub-menu li a {
	padding-bottom: 8px
}

#mega_menu > li.has-child > a:after {
	content:     "\f105";
	font-family: FontAwesome;
	float:       right
}

#mega_menu li > .toggle {
	display: none
}

#mega_menu li:hover {
	background: #f5f5f5
}

#mega_menu > li > ul.sub-menu {
	position:   absolute;
	top:        0px;
	left:       100%;
	background: #fff;
	width:      209%;
	margin:     0 0 0 1px;
	padding:    0 0px 0 0
}

#mega_menu > li > .menu-image {
	position:   absolute;
	left:       100%;
	top:        -1px;
	display:    none;
	width:      210%;
	background: #fff;
	text-align: right;
	border:     solid 1px #ccc;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

#mega_menu > li > .menu-image > img {
	position: relative;
	z-index:  1
}

#mega_menu > li:hover > ul.sub-menu, #mega_menu > li:hover > .menu-image {
	display: block
}

#mega_menu > li:hover > ul.sub-menu:before {
	content:    "";
	background: transparent;
	position:   absolute;
	top:        -1px;
	bottom:     0;
	width:      15px;
	left:       -15px
}

#mega_menu ul.sub-menu > li {
	position: relative;
}

#mega_menu ul.sub-menu > li > .menu-image {
	position:   absolute;
	top:        0;
	right:      0;
	width:      50%;
	text-align: right;
	display:    none;
	z-index:    2;
}

#mega_menu ul.sub-menu > li:hover > .menu-image {
	display: block;
}

#header.header.has-sticky .header-wrapper.stuck #mega_menu {
	margin-top: 0
}

#header.header.has-sticky .header-wrapper.stuck #mega_menu:not(.active) {
	display: none
}

#header.header #mega_menu.active {
	display: block
}

.header-hotline {
	font-size: 13px;
	padding: 7px 20px !important;
	text-align: center;
	background: #e3411f;
}

.header-hotline span {
	display: block;
	font-size: 16px;
	color: #ed1c24;
	font-weight: 700;
	line-height: 1;
}
.header-hotline span:first-child{
	padding-bottom:  10px;
}
.header-hotline span a{
	color: #fff;
}

.header-bottom-nav.nav > li:first-child > a {
	margin-left: 15px;
}

.price-wrapper span.amount {
	color:     #f00;
	font-size: 16px;
}

.price-wrapper ins,
.price-wrapper del {
	display: block;
}

.price-wrapper ins span.amount {
	color:     #f00;
	font-size: 17px;
}

.price-wrapper del span.amount {
	font-size: 13px;
	color:     #222;
}

.sale-text-wrapper {
	height:        23px;
	overflow:      hidden;
	margin-bottom: 10px;
}

.sale-text-wrapper span {
	color:     #02a434;
	font-size: 12px;
}

#custom_html-4 {
	max-width:               100%;
	-webkit-flex-basis:      100%;
	-ms-flex-preferred-size: 100%;
	flex-basis:              100%;
}

@media screen and (min-width: 768px){
	.footer .contact-footer {
		width:   50%;
		float:   left;
		padding: 0 15px;
	}
}


.product-short-description {
	padding:            20px 14px 10px;
	margin:             10px 0 0;
	background:         #f3f3f3;
	border:             1px solid #e7e7e7;
	float:              left;
	width:              100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

.product-short-description p {
	padding:   0;
	font-size: 14px;
	color:     #212121;
	position:  relative;
	margin:    0 0 5px;
}

.product-short-description ul {
	padding-left: 20px;
	font-size:    .92em;
	width:        100%;
	overflow-x:   initial;
	margin:       0;
}

.woocommerce-billing-fields {
	border-top: 0;
}

@media screen and (min-width: 850px) {
	.footer .large-columns-3 > .col:nth-child(1) {
		max-width:               45%;
		-webkit-flex-basis:      45%;
		-ms-flex-preferred-size: 45%;
		flex-basis:              45%;
	}

	.footer .large-columns-3 > .col:nth-child(2) {
		max-width:               29%;
		-webkit-flex-basis:      29%;
		-ms-flex-preferred-size: 29%;
		flex-basis:              29%;
	}

	.footer .large-columns-3 > .col:nth-child(3) {
		max-width:               26%;
		-webkit-flex-basis:      26%;
		-ms-flex-preferred-size: 26%;
		flex-basis:              26%;
	}
}

.page-title-inner {
	position:   relative;
	padding:    0;
	min-height: 40px;
}

.breadcrumbs {
	font-size:      14px;
	text-transform: none;
}

.breadcrumbs a {
	color:       rgba(102, 102, 102, 0.7);
	font-weight: normal;
}

.page-title {
	position:   relative;
	background: #eee;
}

.sale-sing-text-wrapper {
	background:    #fff4de;
	padding:       15px;
	margin-bottom: 20px;
}

.sale-sing-text-wrapper ul {

}

.sale-sing-text-wrapper ul li,
.sale-sing-text-wrapper p {
	margin:     0;
	padding:    0;
	list-style: none;
	font-size:  14px;
}

.single-product .price-wrapper ins span.amount {
	font-size: 24px;
}

.single-product .price-wrapper del,
.single-product .price-wrapper ins {
	display: inline-block;
}

.single-product .product-info .product-title {
	font-size: 19px;
}

.single-product .price-wrapper del span.amount {
	font-size: 17px;
}

.product-ralated-post {
	margin-bottom: 30px;
}

.product-ralated-post ul {
	padding:             0 10px;
	margin:              0 0 0 6px;
	list-style-position: outside;
	list-style-type:     none;
}

.product-ralated-post ul li {
	margin:          0;
	padding:         2px 0;
	text-indent:     0;
	list-style:      none;
	padding-top:     5px;
	list-style-type: disc;
	color:           #4a90e2;
	width:           100%;
}

.product-ralated-post ul li a {
	color:     #212121;
	font-size: 14px;
	display:   block;
	padding:   0;
}

.product-section .tabs-heading {
	z-index: 99 !important;
}

.product-section .tabs-heading ul {
	padding:       0;
	margin:        0;
	list-style:    none;
	background:    #fff;
	border-bottom: 1px solid #ddd;
}

.product-section .tabs-heading li {
	list-style:    none;
	display:       inline-block;
	margin:        0 -2px -1px;

	font-weight:   600;
	text-align:    center;
	color:         #444;
	border:        1px solid transparent;
	border-bottom: 1px solid #ddd;
}

.product-section .tabs-heading li.active {
	color:         #333;
	border:        1px solid #ddd;
	border-top:    2px solid orange;
	border-bottom: 1px solid #fff;
}

.product-section .tabs-heading li:hover {
	color:  #888;
	cursor: pointer;
}

.product-section .tabs-heading li a {
	color:   inherit;
	display: block;
	padding: 15px 25px;
}

.product-section {
	border-top: none;
}

.panel.entry-content {
}

.section-active .panel.active {
	margin-top: 124px;
}

.type-product .title-wrapper .product-title {
	overflow:           hidden;
	text-overflow:      ellipsis;
	display:            -webkit-box;
	line-height:        16px;
	max-height:         32px;
	-webkit-line-clamp: 2;
	font-size:          13px;
	-webkit-box-orient: vertical;
	min-height:         32px;

}

.price-wrapper del {
	margin-bottom: 5px;
}

.footer .form-flat {
	margin-top: 30px;
}

.footer input[type="email"] {
	border-radius: 6px;
}

.footer input[type="submit"].wpcf7-submit.button {
	background: #e44120;
}

#tab-ux_video_tab {
	max-width: 750px;
	margin:    0 auto;
}

.comment-reply-title {
	display: none;
}

.comment-form-rating label,
.comment-form-rating p {
	vertical-align: middle;
	display:        inline-block;
	padding-right:  20px;
	margin:         0;
	height:         30px;
}

.comment-form-comment > label {
	display: none;
}

th:first-child, td:first-child {
	padding-left: 10px;
}

th, td {
	padding: 5px 10px;
}

.showroom-address {
	margin:     0 0 0 6px;
	list-style: none;
}

.showroom-address li {
	margin:      0;
	padding:     2px 0;
	text-indent: 0;
	list-style:  none;
	padding-top: 5px;
	width:       100%;
	font-size:   14px;
}

.widget-title.shop-sidebar {
	color: #19723c;
}

.widget-title.shop-sidebar + .is-divider {
	display: none;
}

.navigation-post {
	display: none;
}

footer.entry-meta.text-center {
	display: none;
}

.blog-share .google-plus {
	border:                1px solid #d5d5d5;
	border:                1px solid rgba(0, 0, 0, .17);
	-webkit-border-radius: 2px;
	border-radius:         2px;
	-webkit-box-shadow:    0 1px 0 rgba(0, 0, 0, .05);
	box-shadow:            0 1px 0 rgba(0, 0, 0, .05);
	-webkit-box-sizing:    border-box;
	box-sizing:            border-box;
	-webkit-transition:    background-color .218s, border-color .218s, box-shadow .218s;
	transition:            background-color .218s, border-color .218s, box-shadow .218s;
	-webkit-user-select:   none;
	-webkit-appearance:    none;
	background-color:      #fff;
	background-image:      none;
	color:                 #262626;
	cursor:                pointer;
	outline:               none;
	overflow:              hidden;
	position:              relative;
	text-align:            center;
	white-space:           nowrap;
	width:                 auto;
	display:               inline-block;
	vertical-align:        middle;
	height:                20px;
	margin-left:           5px;
}

.blog-share .google-plus svg {
	fill: #db4437;
}

.fb-share-button.fb_iframe_widget {
	margin-left: 5px;
}

.prdctfltr-widget .prdctfltr_wc .prdctfltr_loader {
	position:    fixed;
	top:         50%;
	right:       0;
	height:      30px;
	width:       auto;
	left:        50%;
	right:       0;
	z-index:     9999999999;
	bottom:      0;
	margin-left: -15px;
	margin-top:  -15px;
}

#mega_menu > li > ul.sub-menu {
	width: 103%;
}

.footer-2 {
	font-size: 14px;
}

.hotline-single-product p {
	margin-bottom: 0;
	font-weight:   700;
	font-size:     18px;
}

.hotline-single-product p a {
	color: #f00;
}

.hotline-single-product h4 {
	color:         #19723c;
	margin-bottom: 0;
}

.hotline-single-product {
	padding:    10px;
	border:     1px solid #fafafa;
	text-align: center;
	background: #fafafa;
}
.comment-meta.commentmetadata{
	display: none;
}
.woocommerce-review__published-date{
	display: none;
}
.comment-notes{
	display: none;
}
@media screen and (max-width: 679px){
	.footer-wrapper .widget li {
		list-style: inside;
	}
	ul.contact-footer{
		margin-bottom:  20px;
	}

}
@media screen and (max-width: 679px){
	.product-section .tabs-heading li {
		width: 100%;
		font-size: 14px;
		list-style: none;
		display: inline-block;
		margin: 0;
		font-weight: 600;
		text-align: center;
		color: #444;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 0;
	}
	.product-section .tabs-heading li+li{
		border-top: 1px solid #ddd;
	}
	.product-section .tabs-heading li.active {
		color: #333;
		border-top: 2px solid orange;
	}
	.sticky-wrapper.is-sticky .tabs-heading{ 
		top: 0 !important;
	}
	.product-section .tabs-heading li a {
		padding: 6px 22px;
	}

}
.star-rating{
	display: inline-block;
	vertical-align: middle;
}
.comment .meta{
	display: inline-block;
	vertical-align: middle;
}
.header, .header-wrapper{
	z-index: 999;
}

.row-small>.flickity-viewport>.flickity-slider>.col{
	padding: 0 9.8px 0;
	margin-bottom: 0;
}
#review_form_wrapper{
	width: 80%;
	margin: 0 auto;
	float: none;
	max-width: 80%;
}
.type-product .title-wrapper .product-title {
    font-weight: normal;
}